---
title: Stocks
---

<div class="center w-100">

  <div class="w-100">
    <div class="w-50">
      <h1 class="greeting"></h1>
      <!-- <p>Today's Date: <span class="date"></span></p>
      <p>Last Refreshed: <span class="time"></span></p> -->
    </div>

    <div class="w-50">
      <a class="button" href="/">Refresh</a>
    </div>


  </div>

  <div class="w-100 overflow-auto">
    <hr/>
    <table class="w-100" cellspacing="0">
      <thead>
        <tr>
          <th class="fw6 tl pa3">Symbol</th>
          <th class="fw6 tl pa3">Latest Price</th>
          <th class="fw6 tl pa3">Change</th>
        </tr>
      </thead>
      <tbody class="lh-copy">
        <tr class="stripe-dark">
          <td class="pa3">
            <span class="aa-0 stockSymbol"></span>
            <br>
            <span class="aa-1 companyName"></span>
          </td>
          <td class="aa-2 pa3 latestPrice"></td>
          <td class="aa-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="aapl-0 stockSymbol"></span>
            <br>
            <span class="aapl-1 companyName"></span>
          </td>
          <td class="aapl-2 pa3 latestPrice"></td>
          <td class="aapl-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="aav-0 stockSymbol"></span>
            <br>
            <span class="aav-1 companyName"></span>
          </td>
          <td class="aav-2 pa3 latestPrice"></td>
          <td class="aav-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="abb-0 stockSymbol"></span>
            <br>
            <span class="abb-1 companyName"></span>
          </td>
          <td class="abb-2 pa3 latestPrice"></td>
          <td class="abb-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="adm-0 stockSymbol"></span>
            <br>
            <span class="adm-1 companyName"></span>
          </td>
          <td class="adm-2 pa3 latestPrice"></td>
          <td class="adm-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="apc-0 stockSymbol"></span>
            <br>
            <span class="apc-1 companyName"></span>
          </td>
          <td class="apc-2 pa3 latestPrice"></td>
          <td class="apc-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="bpt-0 stockSymbol"></span>
            <br>
            <span class="bpt-1 companyName"></span>
          </td>
          <td class="bpt-2 pa3 latestPrice"></td>
          <td class="bpt-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="brkb-0 stockSymbol"></span>
            <br>
            <span class="brkb-1 companyName"></span>
          </td>
          <td class="brkb-2 pa3 latestPrice"></td>
          <td class="brkb-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="chk-0 stockSymbol"></span>
            <br>
            <span class="chk-1 companyName"></span>
          </td>
          <td class="chk-2 pa3 latestPrice"></td>
          <td class="chk-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="cmcsa-0 stockSymbol"></span>
            <br>
            <span class="cmcsa-1 companyName"></span>
          </td>
          <td class="cmcsa-2 pa3 latestPrice"></td>
          <td class="cmcsa-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="czz-0 stockSymbol"></span>
            <br>
            <span class="czz-1 companyName"></span>
          </td>
          <td class="czz-2 pa3 latestPrice"></td>
          <td class="czz-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="dvmt-0 stockSymbol"></span>
            <br>
            <span class="dvmt-1 companyName"></span>
          </td>
          <td class="dvmt-2 pa3 latestPrice"></td>
          <td class="dvmt-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="dvn-0 stockSymbol"></span>
            <br>
            <span class="dvn-1 companyName"></span>
          </td>
          <td class="dvn-2 pa3 latestPrice"></td>
          <td class="dvn-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="dxc-0 stockSymbol"></span>
            <br>
            <span class="dxc-1 companyName"></span>
          </td>
          <td class="dxc-2 pa3 latestPrice"></td>
          <td class="dxc-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="ftr-0 stockSymbol"></span>
            <br>
            <span class="ftr-1 companyName"></span>
          </td>
          <td class="ftr-2 pa3 latestPrice"></td>
          <td class="ftr-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="ge-0 stockSymbol"></span>
            <br>
            <span class="ge-1 companyName"></span>
          </td>
          <td class="ge-2 pa3 latestPrice"></td>
          <td class="ge-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="gnw-0 stockSymbol"></span>
            <br>
            <span class="gnw-1 companyName"></span>
          </td>
          <td class="gnw-2 pa3 latestPrice"></td>
          <td class="gnw-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="hlt-0 stockSymbol"></span>
            <br>
            <span class="hlt-1 companyName"></span>
          </td>
          <td class="hlt-2 pa3 latestPrice"></td>
          <td class="hlt-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="hpe-0 stockSymbol"></span>
            <br>
            <span class="hpe-1 companyName"></span>
          </td>
          <td class="hpe-2 pa3 latestPrice"></td>
          <td class="hpe-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="hpq-0 stockSymbol"></span>
            <br>
            <span class="hpq-1 companyName"></span>
          </td>
          <td class="hpq-2 pa3 latestPrice"></td>
          <td class="hpq-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="intc-0 stockSymbol"></span>
            <br>
            <span class="intc-1 companyName"></span>
          </td>
          <td class="intc-2 pa3 latestPrice"></td>
          <td class="intc-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="kgc-0 stockSymbol"></span>
            <br>
            <span class="kgc-1 companyName"></span>
          </td>
          <td class="kgc-2 pa3 latestPrice"></td>
          <td class="kgc-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="msft-0 stockSymbol"></span>
            <br>
            <span class="msft-1 companyName"></span>
          </td>
          <td class="msft-2 pa3 latestPrice"></td>
          <td class="msft-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="nbr-0 stockSymbol"></span>
            <br>
            <span class="nbr-1 companyName"></span>
          </td>
          <td class="nbr-2 pa3 latestPrice"></td>
          <td class="nbr-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="nok-0 stockSymbol"></span>
            <br>
            <span class="nok-1 companyName"></span>
          </td>
          <td class="nok-2 pa3 latestPrice"></td>
          <td class="nok-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="nov-0 stockSymbol"></span>
            <br>
            <span class="nov-1 companyName"></span>
          </td>
          <td class="nov-2 pa3 latestPrice"></td>
          <td class="nov-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="pba-0 stockSymbol"></span>
            <br>
            <span class="pba-1 companyName"></span>
          </td>
          <td class="pba-2 pa3 latestPrice"></td>
          <td class="pba-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="pfe-0 stockSymbol"></span>
            <br>
            <span class="pfe-1 companyName"></span>
          </td>
          <td class="pfe-2 pa3 latestPrice"></td>
          <td class="pfe-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="sdr-0 stockSymbol"></span>
            <br>
            <span class="sdr-1 companyName"></span>
          </td>
          <td class="sdr-2 pa3 latestPrice"></td>
          <td class="sdr-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="sdt-0 stockSymbol"></span>
            <br>
            <span class="sdt-1 companyName"></span>
          </td>
          <td class="sdt-2 pa3 latestPrice"></td>
          <td class="sdt-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="per-0 stockSymbol"></span>
            <br>
            <span class="per-1 companyName"></span>
          </td>
          <td class="per-2 pa3 latestPrice"></td>
          <td class="per-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="snap-0 stockSymbol"></span>
            <br>
            <span class="snap-1 companyName"></span>
          </td>
          <td class="snap-2 pa3 latestPrice"></td>
          <td class="snap-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="twtr-0 stockSymbol"></span>
            <br>
            <span class="twtr-1 companyName"></span>
          </td>
          <td class="twtr-2 pa3 latestPrice"></td>
          <td class="twtr-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="txn-0 stockSymbol"></span>
            <br>
            <span class="txn-1 companyName"></span>
          </td>
          <td class="txn-2 pa3 latestPrice"></td>
          <td class="txn-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="usa-0 stockSymbol"></span>
            <br>
            <span class="usa-1 companyName"></span>
          </td>
          <td class="usa-2 pa3 latestPrice"></td>
          <td class="usa-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="vz-0 stockSymbol"></span>
            <br>
            <span class="vz-1 companyName"></span>
          </td>
          <td class="vz-2 pa3 latestPrice"></td>
          <td class="vz-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="win-0 stockSymbol"></span>
            <br>
            <span class="win-1 companyName"></span>
          </td>
          <td class="win-2 pa3 latestPrice"></td>
          <td class="win-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="xom-0 stockSymbol"></span>
            <br>
            <span class="xom-1 companyName"></span>
          </td>
          <td class="xom-2 pa3 latestPrice"></td>
          <td class="xom-3 pa3 change"></td>
        </tr>

        <tr class="stripe-dark">
          <td class="pa3">
            <span class="znga-0 stockSymbol"></span>
            <br>
            <span class="znga-1 companyName"></span>
          </td>
          <td class="znga-2 pa3 latestPrice"></td>
          <td class="znga-3 pa3 change"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p>Data provided for free by <a href="https://iextrading.com/developer">IEX</a></p>

</div>

<script type="text/javascript">
  (function($) {
    var currentTime = new Date();
      if ( currentTime.getHours() < 12 )
        {
          salutation = "Good Morning";
        }
      else
        if ( currentTime.getHours() >= 12 && currentTime.getHours() <= 17 )
          {
            salutation = "Good Afternoon";
          }
        else
          if ( currentTime.getHours() > 17 && currentTime.getHours() <= 24 )
            {
              salutation = "Good Evening";
            }
        else
          {
            salutation = "Hello!";
          }
    $(".greeting").append(salutation);

    var time = currentTime.getHours() + ":" + currentTime.getMinutes();
    var date = currentTime.getMonth() + "/" + currentTime.getDate() + "/" + currentTime.getYear();

    // $(".time").append(time);
    // $(".date").append(date);
  }(jQuery));
</script>
